// 颜色
$color-1:#000;
$color-2:#fff;
$color-3:#FBBE01;
//继承
.media{
    @media (max-width: 1560px) {
        min-width: 1480px;
    }

    @media (max-width: 1200px) {
        min-width: 1140px;
    }
   
    @media (max-width: 992px) {
        min-width: 960px;
    }
   
    @media (max-width: 768px) {
        min-width: 720px;
    }

    @media (max-width: 576px) {
        min-width: 540px;
    }
}