@import '../var';
.j-index{
    background: #000;
    width: 50%;
    @media (max-width: 1200px) {
        background: #f00;
        width: 100%;
    }
   
    @media (max-width: 992px) {
        background: #0f0;
        width: 50%;
    }
   
    @media (max-width: 768px) {
        background: #00f;
        width: 100%;
    }

    @media (max-width: 576px) {
        background: #ff0;
        width: 50%;
    }
}
